body{
    background-color: #FFF9DB;
}

.text{
    /* Group 3 */
    position: absolute;
    width: 329px;
    height: 135px;
    left: 108px;
    top: 231.76px;
    border: 5px solid #FCD161;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.rectangle{
    /* Rectangle 3 */

position: absolute;
width: 955px;
height: 120px;
left: 350px;
top: 181px;

background: #FCD161;
z-index: -1;

}

.circle1{
    /* Ellipse 2 */

position: absolute;
width: 78.81px;
height: 80.19px;
left: 500.16px;
top: 488px;

background: #F5CD40;
border-radius: 150px;
}
.circle2{
    /* Ellipse 2 */

position: absolute;
width: 78.81px;
height: 80.19px;
left: 500.16px;
top: 618px;
border-radius: 150px;
background: #F5CD40;

}
.side-bar{
    /* download 1 */
    box-sizing: border-box;
    position: absolute;
    width: 634.14px;
    height: 239.77px;
    left: 1036.77px;
    top: 250px;
    background: url(../images/image.png);
    border: 7px solid #E7B31F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(89.83deg);
}
.option-text1 {
    position: absolute;
    top: 450px;
    left: 590px;
    font-size: 45px;
}
.option-text2{
    position: absolute;
    top: 590px;
    left: 590px;
    font-size: 45px;
}
#arrow1{
    position: absolute;
    top: 518px;
    left: 820px;
}
#arrow2{
    position: absolute;
    top: 658px;
    left: 950px;
}

/* footer */
.footer{

    /* Frame 3 */
    position: absolute;
    width: 1440px;
    height: 210px;
    /* left: 0px; */
    top: 3211px;
    background: #000000;
}

.i1{
  
    /* Group 1 */
    position: absolute;
    width: 150px;
    height: 50.18px;
    left: 30.84%;
    right: 42.28%;
    top: 11.05%;
    bottom: 67.81%;
    transform: rotate(0.11deg);
}
  
.i2{
    position: absolute;
    width: 200px;
    height: 50.18px;
    left: 42.84%;
    right: 42.28%;
    top: 11.05%;
    bottom: 67.81%;
    transform: rotate(0.11deg);
}
  
.i3{
  
    /* Vector */
    position: absolute;
    width: 200px;
    height: 50.18px;
    left: 55.84%;
    right: 42.28%;
    top: 11.05%;
    bottom: 67.81%;
    transform: rotate(0.11deg);
}
  
.footerlinks{
  
    /* Items */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 48px;
    position: absolute;
    width: 294px;
    height: 30px;
    right: 550px;
    top: 105px;
    color: white;
}
  
.footer hr{
  
    /* Line 7 */
    position: absolute;
    width: 527px;
    height: 0px;
    left: 454px;
    top: 149px;
    border: 1px solid #FFFFFF;
}
  
.footer p{
  
    /* 2024 Copyright | All rights reserved */
    position: absolute;
    width: 371px;
    height: 21px;
    left: 551px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}